<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartfarm.activity"

    android:versionCode="2"
    android:versionName="1.0.1">

    <!--内部开发版本
    android:versionCode="29"
    android:versionName="0.7.2_29">
    -->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.smartfarm.application.CrashReportApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oF4wspWZ32mZkvVKdtfEi73L9DQDybAC" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name=".Login"
            android:label="@string/app_name" />
        <activity android:name=".Password" />
        <activity android:name=".UpdateData" />
        <activity android:name=".IdentifyingCode" />
        <activity android:name=".RegisterNew" />
        <activity android:name=".QR" />
        <activity android:name=".AutoLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainViewTheme"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".ManagerEquipment"
            android:configChanges="layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" />
        <activity
            android:name=".WifiConfigActivity"
            android:configChanges="layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>

</manifest>
